.skeleton {
    background: #ddd;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 4px;

    &--text {
        width: 100%;
        height: 12px;
        margin: 4px 0;

        &:last-child {
            width: 70%;
        }
    }

    &--title {
        width: 50%;
        height: 20px;
    }

    &--avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    &--thumbnail {
        width: 200px;
        height: 100px;
    }
}

.skeletonWrapper {
    position: relative;
    overflow: hidden;
}

.shimmerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 1.5s linear infinite;
}

.shimmer {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
}